<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.language_detection_01">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- permission for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.wifi" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Language_detection_01">
        <activity
            android:name=".trans_german"
            android:exported="false" />
        <activity
            android:name=".trans_french"
            android:exported="false" />
        <activity
            android:name=".trans_spain"
            android:exported="false" />
        <activity
            android:name=".trans_kannad"
            android:exported="false" />
        <activity
            android:name=".trans_jap"
            android:exported="false" />
        <activity
            android:name=".trans_hindi"
            android:exported="false" />
        <activity
            android:name=".translation"
            android:exported="false" />
        <activity
            android:name=".vocabl"
            android:exported="false" />
        <activity
            android:name=".chinese"
            android:exported="false" />
        <activity
            android:name=".japanese"
            android:exported="false" />
        <activity
            android:name=".devnagiri"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".screen_02"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>